@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'pastel';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98.462% 0.001 247.838);
    --color-base-300: oklch(92.462% 0.001 247.838);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(90% 0.063 306.703);
    --color-primary-content: oklch(49% 0.265 301.924);
    --color-secondary: oklch(89% 0.058 10.001);
    --color-secondary-content: oklch(51% 0.222 16.935);
    --color-accent: oklch(90% 0.093 164.15);
    --color-accent-content: oklch(50% 0.118 165.612);
    --color-neutral: oklch(55% 0.046 257.417);
    --color-neutral-content: oklch(92% 0.013 255.508);
    --color-info: oklch(86% 0.127 207.078);
    --color-info-content: oklch(52% 0.105 223.128);
    --color-success: oklch(87% 0.15 154.449);
    --color-success-content: oklch(52% 0.154 150.069);
    --color-warning: oklch(83% 0.128 66.29);
    --color-warning-content: oklch(55% 0.195 38.402);
    --color-error: oklch(80% 0.114 19.571);
    --color-error-content: oklch(50% 0.213 27.518);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

/* custom theme */
/* https://v5.daisyui.com/theme-generator/ */

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    prefersdark: true;
    color-scheme: 'dark';
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.006 286.033);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(65% 0.241 354.308);
    --color-primary-content: oklch(97% 0.014 343.198);
    --color-secondary: oklch(70% 0.14 182.503);
    --color-secondary-content: oklch(98% 0.014 180.72);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(28% 0.109 3.907);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

/* @plugin "daisyui/theme" {
    name: 'dark';
    default: false;
    prefersdark: true;
    color-scheme: 'dark';
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(80% 0.169 237.323);
    --color-primary-content: oklch(27% 0.006 286.033);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(96% 0.015 12.422);
    --color-accent-content: oklch(27% 0.046 192.524);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
} */

/* @plugin "daisyui/theme" {
    name: 'dark_2';
    default: false;
    prefersdark: false;
    color-scheme: 'dark';
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.006 286.033);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(79% 0.209 151.711);
    --color-primary-content: oklch(26% 0.065 152.934);
    --color-secondary: oklch(70% 0.191 22.216);
    --color-secondary-content: oklch(25% 0.092 26.042);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(21% 0.006 285.885);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 1;
} */

@theme {
    --breakpoint-3xl: 1920px;
    --main-grid-cols: 1fr minmax(900px, 1fr) 1fr;
    --main-grid-rows: auto 1fr;
}

/*  ---- BASE ---- */

:root {
    --opacity-dragging-dnd: 0.5;
    --scale-dnd: 1.05;

    --animate-fade-in: fadeIn 0.5s ease;
    --animate-pop: pop 0.2s cubic-bezier(0.18, 0.67, 0.6, 1.22);

    --box-shadow-picked-up: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);

    @keyframes pop {
        0% {
            /* @apply scale-100 shadow-none; */
            transform: scale(1);
            box-shadow: 0;
        }
        100% {
            /* @apply scale-105 shadow-lg; */
            transform: scale(1.05);
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn var(--animate-fade-in);
    }
    .pop {
        animation: pop var(--animate-pop);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ---- CUSTOMIZED DAISYUI COMPONENTS ---- */

@utility fieldset-legend {
    @apply pb-0;
}

/* ---- COMPONENTS ---- */

.dice-face {
    @apply absolute flex items-center justify-center backface-hidden;
}

/* Shared styles for form */
.form {
    @apply flex justify-center items-stretch flex-col gap-4 w-full;
}

/* UTILITYS */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
